[submodule "Vendor/Stanley"]
	path = Vendor/Stanley
	url = https://github.com/Kosoku/Stanley.git
[submodule "Vendor/Ditko"]
	path = Vendor/Ditko
	url = https://github.com/Kosoku/Ditko.git
[submodule "Vendor/KSOFontAwesomeExtensions"]
	path = Vendor/KSOFontAwesomeExtensions
	url = https://github.com/Kosoku/KSOFontAwesomeExtensions.git
[submodule "Vendor/Loki"]
	path = Vendor/Loki
	url = https://github.com/Kosoku/Loki.git
